/*
========================================
File:
navigation.css

Purpose:
Defines the styling for the shared site
header and navigation.
========================================
*/

/* ========================================
   HEADER
======================================== */

header {
    background-color: white;
    padding: 20px;
}

/* ========================================
   NAVIGATION
======================================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}